* {
	margin: 0;
	padding: 0;
}

html, body { 
	min-height: 100%;
	--font-size: 25px;
	direction: rtl
}

.hide {
	display: none !important
}

.button {
	transition: background 0.3s;
	padding: 5px;
	margin: 3px;
	border: black solid 2px;
	border-radius: 15px;
	background: rgba(0,0,0,0.4);
	display: inline-block;
	text-align: center
}

.button:hover {
	background: rgba(0,0,0,0.7)
}

.button:active {
	background: black
}

.popup {
	position: absolute;
	left: 50%;
	top: 65%;
	transform: translateX(-50%);
	background-color: rgba(0,0,0,75%);
	border: black 3px solid;
	border-radius: 30px;
	box-shadow: 0px 0px 16px 3px black;
	color: white;
	font-size: var(--font-size);
	padding: 10px;
	text-align: center;
}

.prompt {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	background-color: rgba(0,0,0,75%);
	border: black 3px solid;
	border-radius: 30px;
	box-shadow: 0px 0px 35px 7.5px black;
	color: white;
	font-size: var(--font-size);
	padding: 10px;
	text-align: center;
}

#main {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0;
	margin: min(7%, 40px);
	padding: 10px;
	background-color: rgba(0,0,0,75%);
	border: black 12px double;
	border-radius: 42px;
	box-shadow: 0px 0px 35px 7.5px black;
	color: white
}

#filler {
	padding-top: 5px;
	overflow-y: auto;
	height: 100%;
	font-size: var(--font-size)
}

@font-face {
	font-family: 'f-1';
	src: url('./assets/fonts/1.ttf')
}

@font-face {
	font-family: 'f-2';
	src: url('./assets/fonts/2.ttf')
}

@font-face {
	font-family: 'f-3';
	src: url('./assets/fonts/3.ttf')
}

@font-face {
	font-family: 'f-4';
	src: url('./assets/fonts/4.ttf')
}

@font-face {
	font-family: 'f-5';
	src: url('./assets/fonts/5.ttf')
}

@font-face {
	font-family: 'f-6';
	src: url('./assets/fonts/6.ttf')
}

@font-face {
	font-family: 'f-7';
	src: url('./assets/fonts/7.ttf')
}

@font-face {
	font-family: 'f-8';
	src: url('./assets/fonts/8.ttf')
}

@font-face {
	font-family: 'f-9';
	src: url('./assets/fonts/9.ttf')
}

@font-face {
	font-family: 'f-10';
	src: url('./assets/fonts/10.ttf')
}

@font-face {
	font-family: 'f-11';
	src: url('./assets/fonts/11.ttf')
}

@font-face {
	font-family: 'f-12';
	src: url('./assets/fonts/12.ttf')
}

@font-face {
	font-family: 'f-13';
	src: url('./assets/fonts/13.ttf')
}

@font-face {
	font-family: 'f-14';
	src: url('./assets/fonts/14.ttf')
}

@font-face {
	font-family: 'f-15';
	src: url('./assets/fonts/15.ttf')
}

@font-face {
	font-family: 'f-16';
	src: url('./assets/fonts/16.ttf')
}

@font-face {
	font-family: 'f-17';
	src: url('./assets/fonts/17.ttf')
}

@font-face {
	font-family: 'f-18';
	src: url('./assets/fonts/18.ttf')
}

@font-face {
	font-family: 'f-19';
	src: url('./assets/fonts/19.ttf')
}

@font-face {
	font-family: 'f-20';
	src: url('./assets/fonts/20.ttf')
}

@font-face {
	font-family: quran;
	src: url('./assets/fonts/quran.ttf')
}