* {
	margin: 0;
	padding: 0;
}

html, body { 
	min-height: 100%;
	direction: rtl;
	
	--font-size: 1.5rem;
	--vumult: 1;
	--vu: calc(max(1vw, 1vh) * var(--vumult));
	--main-margin-mult: 4;
	--border-mult: 1;
	--shadow: 0px 0px calc(var(--vu) * 3.5) calc(var(--vu) * 0.75) black;
	
	--main-theme-back: radial-gradient(rgb(0 0 0 / 83%), rgb(0 0 0 / 74%), rgb(0 0 0 / 62%));
	--main-theme-color: white;
	--main-theme-but-col: rgba(0,0,0,0.4);
	--main-theme-but-hov-col: rgba(0,0,0,0.7);
	--main-theme-but-act-col: black;
	
	--viewer-theme-back: radial-gradient(rgb(0 0 0), rgb(0 0 0 / 95%));
	--viewer-theme-color: white;
	--viewer-theme-butcol: rgba(0,0,0,0.4);
	--viewer-theme-but-hov-col: rgba(0,0,0,0.7);
	--viewer-theme-but-act-col: black;
}

.hide {
	display: none !important
}

.button {
	transition: background 0.3s;
	padding: calc(var(--vu) * 0.5);
	margin: calc(var(--vu) * 0.3);
	border: black solid calc(var(--vu) * 0.2 * var(--border-mult));
	border-radius: calc(var(--vu) * 1.5);
	background: var(--main-theme-but-col);
	display: inline-block;
	text-align: center
}

.button:hover {
	background: var(--main-theme-but-hov-col)
}

.button:active {
	background: var(--main-theme-but-act-col)
}

.popup {
	position: absolute;
	left: 50%;
	top: 65%;
	transform: translateX(-50%);
	background-color: rgba(0,0,0,75%);
	border: black calc(var(--vu) * 0.3 * var(--border-mult)) solid;
	border-radius: calc(var(--vu) * 3);
	box-shadow: 0px 0px calc(var(--vu) * 1.6) calc(var(--vu) * 0.3) black;
	color: var(--main-theme-color);
	font-size: var(--font-size);
	padding: calc(var(--vu) * 1);
	text-align: center;
}

.prompt {
	position: absolute;
	left: 50%;
	top: 20%;
	transform: translateX(-50%);
	background-color: rgba(0,0,0,75%);
	border: black calc(var(--vu) * 0.3 * var(--border-mult)) solid;
	border-radius: calc(var(--vu) * 3);
	box-shadow: 0px 0px calc(var(--vu) * 3.5) calc(var(--vu) * 0.7) black;
	color: var(--main-theme-color);
	font-size: var(--font-size);
	padding: calc(var(--vu) * 1);
	text-align: center;
}

#main {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0;
	margin: calc(var(--vu) * var(--main-margin-mult));
	padding: calc(var(--vu) * 1);
	background: var(--main-theme-back);
	border: black calc(var(--vu) * 1.2 * var(--border-mult)) double;
	border-radius: calc(var(--vu) * 4.2);
	box-shadow: var(--shadow);
	color: var(--main-theme-color)
}

#filler {
	padding-top: calc(var(--vu) * 0.5);
	overflow-y: auto;
	height: 100%;
	font-size: var(--font-size)
}

@font-face {
	font-family: 'f-1';
	src: url('./assets/fonts/1.ttf')
}

@font-face {
	font-family: 'f-2';
	src: url('./assets/fonts/2.ttf')
}

@font-face {
	font-family: 'f-3';
	src: url('./assets/fonts/3.ttf')
}

@font-face {
	font-family: 'f-4';
	src: url('./assets/fonts/4.ttf')
}

@font-face {
	font-family: 'f-5';
	src: url('./assets/fonts/5.ttf')
}

@font-face {
	font-family: 'f-6';
	src: url('./assets/fonts/6.ttf')
}

@font-face {
	font-family: 'f-7';
	src: url('./assets/fonts/7.ttf')
}

@font-face {
	font-family: 'f-8';
	src: url('./assets/fonts/8.ttf')
}

@font-face {
	font-family: 'f-9';
	src: url('./assets/fonts/9.ttf')
}

@font-face {
	font-family: 'f-10';
	src: url('./assets/fonts/10.ttf')
}

@font-face {
	font-family: 'f-11';
	src: url('./assets/fonts/11.ttf')
}

@font-face {
	font-family: 'f-12';
	src: url('./assets/fonts/12.ttf')
}

@font-face {
	font-family: 'f-13';
	src: url('./assets/fonts/13.ttf')
}

@font-face {
	font-family: 'f-14';
	src: url('./assets/fonts/14.ttf')
}

@font-face {
	font-family: 'f-15';
	src: url('./assets/fonts/15.ttf')
}

@font-face {
	font-family: 'f-16';
	src: url('./assets/fonts/16.ttf')
}

@font-face {
	font-family: 'f-17';
	src: url('./assets/fonts/17.ttf')
}

@font-face {
	font-family: 'f-18';
	src: url('./assets/fonts/18.ttf')
}

@font-face {
	font-family: 'f-19';
	src: url('./assets/fonts/19.ttf')
}

@font-face {
	font-family: 'f-20';
	src: url('./assets/fonts/20.ttf')
}

@font-face {
	font-family: quran;
	src: url('./assets/fonts/quran.ttf')
}