#title {
	background: rgba(0,0,0,0.35);
	border: solid black calc(var(--vu) * 0.3 * var(--border-mult));
	border-radius: calc(var(--vu) * 2.4);
	text-align: center;
    font-size: calc(var(--font-size) * 1.8);
}

.item {
	padding: calc(var(--vu) * 0.2)
}

.cat {
	text-decoration: underline;
	padding-bottom: calc(var(--vu) * 0.5);
	padding-top: calc(var(--vu) * 0.5);
}

#back {
	font-size: calc(var(--font-size) * 1.3)
}

a {
	color: inherit;
	text-decoration: none
}