#main {
	background: var(--viewer-theme-back);
	color: var(--viewer-theme-color)
}

#filler {
	font-family: quran
}

#content {
	height: 0px;
	overflow-y: visible;
}

.button {
	padding-top: 0;
	padding-left: calc(var(--vu) * 0.5);
	padding-right: calc(var(--vu) * 0.5);
	padding-bottom: 0;
	background: var(--viewer-theme-but-col)
}

.button:hover {
	background: var(--viewer-theme-but-hov-col);
	color: white
}

.button:active {
	background: var(--viewer-theme-but-act-col);
	color: white
}

#markers > * {
	display: block
}

#markers.hide {
	display: none
}

#markers {
	overflow: auto;
	max-height: 85%;
	display: block;
	animation: shrink 1s both
}

#markers[open] {
	animation: grow 1s
}

@keyframes grow {
	from {
		max-height: 0%;
		transform: scale(0)
	}
	to {
		max-height: 85%;
		transform: scale(100%)
	}
}

@keyframes shrink {
	from {
		max-height: 85%;
		transform: scale(100%)
	}
	to {
		max-height: 0%;
		transform: scale(0)
	}
}