<neo:template id="fahras">
  <div class="container">
	<div id="title" @ref="title" :text>@{title}</div>
	<div id="path" @ref="path"></div>
	<div id="toolbar" @ref="toolbar">
		<span id="search-btn" @ref='search-btn' @on(click)="comp.search()">بحث</span>
		<span id="download-btn" @ref="download-btn" @on(click)="comp.download()">تنزيل</span>
		<span id="favorite-btn" @ref="favorite-btn" @on(click)="comp.addToFavorite()">أضافة إلى المفضلة</span>
		<span id="button-1" @ref="button-1" @on(click)="comp.onButtonClick(0)" :text>@{button1Text}</span>
		<span id="button-2" @ref="button-2" @on(click)="comp.onButtonClick(1)" :text>@{button2Text}</span>
		<span id="button-3" @ref="button-3" @on(click)="comp.onButtonClick(2)" :text>@{button3Text}</span>
	</div>
	<ul id="list" @ref="list"></ul>
  </div>
</neo:template>