<neo:template id="root">
	<div id='main-section' class="section" @ref="section-main">
		<div id="title">زاد العباد ليوم المعاد</div>
		<div id="about-day-but"></div>
		<div id="sections-grid">
		  <div id="quran-but" @on(click)="router.go('#quran')">
			<svg _src="./assets/icons/quran.svg#svg"></svg>
			<span>القرآن الكريم</span>
		  </div>
		  <div id="amal-but" @on(click)="router.go('#amal')">
			<svg _src="./assets/icons/doaa.svg"></svg>
			<span>أعمال وعبادات</span> 
		  </div>
		  <div id="ahdath-but" @on(click)="router.go('#ahdath')">
			<svg _src="./assets/icons/events.svg"></svg>
			<span>أحداث</span> 
		  </div>
		  <div id="ahkam-but" @on(click)="router.go('#ahkam')">
			<svg _src="./assets/icons/ahkam.svg"></svg>
			<span>أحكام وفقه</span>
		  </div> 
		  <div id="imam-trath-but" @on(click)="router.go('#imam-trath')">
			<svg _src="./assets/icons/books.svg"></svg>
			<span>تراث الأئمة</span>
		  </div>
		  <div id="aalem-turath-but" @on(click)="router.go('#aalem-turath')">
			<svg _src="./assets/icons/books.svg"></svg>
			<span>تراث العلماء</span>
		  </div>
		  <div id="tools-but" @on(click)="router.go('#tools')"> 
			<svg _src="./assets/icons/tools.svg"></svg>
			<span>أدوات</span>
		  </div>
		  <div id="others-but" @on(click)="router.go('#others')">
			<svg _src="./assets/icons/other.svg"></svg>
			<span>أخرى</span>
		  </div>
		</div>
		<div @ref="new-pack-avalable" id="new-pack-avalable" class="hide">هناك تحديث جديد</div>
	</div>
	<div id="quran-section" class="section" @ref="section-quran">
		<div class="mini-title">قسم القرآن الكريم</div>
		<div class="group">
			<div class="group-title">القرآن الكريم</div>
			<ul>
			  <li><a href="./fahras.html#quran/1">حسب السور</a></li>
			  <li><a href="./fahras.html#quran/2">حسب الصفحات</a></li>
			  <li><a href="./fahras.html#quran/3">حسب الأجزاء</a></li>
			  <li><a href="./fahras.html#quran/4">حسب الاحزاب</a></li>
			</ul>
		</div>
		<div class="group">
			<div class="group-title">تفسير</div>
			<ul>
			  <li><a href="./fahras.html#mobeen/0">تفسير المبين</a></li>
			</ul>
		</div>
		<div class="group">
			<div class="group-title">مقتطفات قرآنية</div>
			<ul>
			  <li><a href="./fahras.html#quranTopics/0">موضوعات القران الكريم</a></li>
			</ul>
		</div>
	</div>
	<div id="amal-section" class="section" @ref="section-amal">
		<div class="mini-title">أعمال وعبادات</div>
		<div class="group">
			<div class="group-title">قسم الأعمال</div>
			<ul>
			  <li><a href="./fahras.html#saaat/0">أعمال الساعات</a></li>
			  <li><a href="./fahras.html#osboa/0">أعمال الأسبوع</a></li>
			  <li><a href="./fahras.html#months/0">أعمال الأشهر</a></li>
			</ul>
		</div>
		<div class="group">
			<div class="group-title">قسم الزيارات</div>
			<ul>
			  <li><a href="./fahras.html#ziara/0">الصفحة الرئيسية</a></li>
			  <li><a href="./fahras.html#ziara/37">حسب المعصوم</a></li>
			  <li><a href="./fahras.html#ziara/48">حسب المكان</a></li>
			</ul>
		</div>
		<div class="group">
			<div class="group-title">أخرى</div>
			<ul>
			  <li><a href="./fahras.html#sala/0">قسم الصلاة</a></li>
			</ul>
		</div>
	</div>
	<div id="ahdath-section" class="section" @ref="section-ahdath"> 
		<div class="mini-title">أحداث</div>
		<div class="group">
			<div class="group-title">أحداث</div>
			<ul>
			  <li><a href="./fahras.html#monasabat/0">مناسبات دينية</a></li>
			</ul>
		</div>
		<div class="group">
			<div class="group-title">سيرة أهل البيت (ع)</div>
			<ul>
				<li><a href="./fahras.html#sera/1">الرسول الأكرم (ص)</a></li>
				<li><a href="./fahras.html#sera/19">الإمام علي (ع)</a></li>
				<li><a href="./fahras.html#sera/39">السيدة فاطمة (ع)</a></li>
				<li><a href="./fahras.html#sera/59">الإمام الحسن (ع)</a></li>
				<li><a href="./fahras.html#sera/77">الإمام الحسين (ع)</a></li>
				<li><a href="./fahras.html#sera/100">الإمام السجاد (ع)</a></li>
				<li><a href="./fahras.html#sera/108">الإمام الباقر (ع)</a></li>
				<li><a href="./fahras.html#sera/134">الإمام الصادق (ع)</a></li>
				<li><a href="./fahras.html#sera/155">الإمام الكاظم (ع)</a></li>
				<li><a href="./fahras.html#sera/165">الإمام الرضا (ع)</a></li>
				<li><a href="./fahras.html#sera/185">الإمام الجواد (ع)</a></li>
				<li><a href="./fahras.html#sera/204">الإمام الهادي (ع)</a></li>
				<li><a href="./fahras.html#sera/223">الإمام العسكري (ع)</a></li>
				<li><a href="./fahras.html#sera/240">الإمام المهدي (ع)</a></li>
			</ul>
		</div>
	</div>
	<div id="ahkam-section" class="section" @ref="section-ahkam">
		<div class="mini-title">أحكام وفقه</div>
	</div>
	<div id="imam-trath-section" class="section" @ref="section-imam-trath">
		<div class="mini-title">تراث الأئمة</div>
	</div>
	<div id="aalem-turath-section" class="section" @ref="section-aalem-turath">
		<div class="mini-title">تراث العلماء</div>
	</div>
	<div id="tools-section" class="section" @ref="section-tools">
		<div class="mini-title">أدوات</div>
	</div>
	<div id="others-section" class="section" @ref="section-others">
		<div class="mini-title">أخرى</div>
		<div class="group">
			<div class="group-title">اعدادات</div>
			<ul>
			  <li><a href="./settings.html">الصفحة الرئيسية</a></li>
			  <li><a href="./settings.html#style">المظهر</a></li>
			  <li><a href="./settings.html#storage">التخزين</a></li>
			</ul>
		</div>
		<div class="group">
			<div class="group-title">متنوعات</div>
			<ul>
			  <li><a href="./fahras.html#favorite/0">مفضلة</a></li>
			  <li><a href="./download.html">مركز التنزيل</a></li>
			</ul>
		</div>
	</div>
</neo:template>