#title {
	text-align: center;
    font-size: calc(var(--font-size) * 1.8);
}

.item {
	padding: 2px
}

.cat {
	text-decoration: underline;
	padding-bottom: 4px;
	padding-top: 4px;
}

#back {
	font-size: calc(var(--font-size) * 1.3)
}