.button {
	transition: background 0.3s;
	padding: calc(var(--vu) * 0.5);
	margin-bottom: calc(var(--vu) * 0.5);
	border: black solid calc(var(--vu) * 0.3 * var(--border-mult));
	border-radius: calc(var(--vu) * 1.5);
	background: var(--viewer-theme-but-col);
	display: inline-block;
}

.button:hover {
	background: var(--viewer-theme-but-hov-col);
	color: white
}

.button:active {
	background: var(--viewer-theme-but-act-col);
	color: white
}

#sub-content {
	padding-top: calc(var(--vu) * 0.5)
}

#main {
	background: var(--viewer-theme-back);
	color: var(--viewer-theme-color);
}