#content {
	padding-top: calc(var(--vu) * 0.5)
}

.button {
	display: block;
}

.title {
	background: rgba(0,0,0,0.35);
	border: solid black calc(var(--vu) * 0.3 * var(--border-mult));
	border-radius: calc(var(--vu) * 2.4);
	text-align: center;
    font-size: calc(var(--font-size) * 1.8);
}

.section {
	width: 0%;
	display: inline-block;
	overflow: auto
}

.item {
	padding: calc(var(--vu) * 0.5)
}

.box {
	transition: background 0.3s;
	padding-inline: calc(var(--vu) * 0.5);
	margin-bottom: calc(var(--vu) * 0.5);
	border: black solid calc(var(--vu) * 0.3 * var(--border-mult));
	border-radius: calc(var(--vu) * 1.5);
	background: var(--main-theme-but-col);
	display: inline-block;
}

.box:hover {
	background: var(--main-theme-but-hov-col)
}

.box:active {
	background: var(--main-theme-but-act-color)
}

.inp {
	transition: background 0.3s;
	border: black solid calc(var(--vu) * 0.3 * var(--border-mult));
	border-radius: calc(var(--vu) * 1.5);
	background: var(--main-theme-but-col);
	display: inline-block;
	color: inherit;
	font-size: var(--font-size);
}

.inp:hover {
	background: var(--main-theme-but-hov-col)
}