#title {
	background: rgba(0,0,0,0.35);
	border: solid black calc(var(--vu) * 0.3);
	border-radius: calc(var(--vu) * 2.4);
	text-align: center;
    font-size: calc(var(--font-size) * 1.8);
}

#item {
    margin-top: calc(var(--vu) * 1);
}

#main {
	color: var(--viewer-theme-color);
	background: var(--viewer-theme-back)
}