.item {
	padding: 5px
}

.box {
	transition: background 0.3s;
	padding-inline: 5px;
	margin-bottom: 5px;
	border: black solid 3px;
	border-radius: 15px;
	background: rgba(0,0,0,0.6);
	display: inline-block;
}

.box:hover {
	background: rgba(0,0,0,0.8)
}

.box:active {
	background: black
}

#main {
	background: rgba(0, 0, 0, 0.87)
}

.cat {
	background: rgba(0,0,0,0.45);
	border: 5px double black;
	border-radius: 15px;
	padding: 10px;
}

.inp {
	transition: background 0.3s;
	border: black solid 3px;
	border-radius: 15px;
	background: rgba(0,0,0,0.4);
	display: inline-block;
	color: white;
	font-size: calc(var(--font-size)* 0.8);
}

.inp:hover {
	background: rgba(0,0,0,0.7)
}