* {
	transition: background 0.2s, background-color 0.2s, color 0.2s, font-size 0.2s, margin 0.2s, 
		border 0.2s, border-raduis 0.2s, padding 0.2s, height 0.2s, width 0.2s;
}

.item {
	padding: calc(var(--vu) * 0.5)
}

.box {
	transition: background 0.3s;
	padding-inline: calc(var(--vu) * 0.5);
	margin-bottom: calc(var(--vu) * 0.5);
	border: black solid calc(var(--vu) * 0.3 * var(--border-mult));
	border-radius: calc(var(--vu) * 1.5);
	background: var(--main-theme-but-col);
	display: inline-block;
}

.box:hover {
	background: var(--main-theme-but-hov-col)
}

.box:active {
	background: var(--main-theme-but-act-color)
}

#main {
	background: var(--main-theme-back)
}

.cat {
	margin-block: calc(var(--vu) * 0.5);
	background: rgba(0,0,0,0.2);
	border: calc(var(--vu) * 0.5 * var(--border-mult)) double black;
	border-radius: calc(var(--vu) * 1.5);
	padding: calc(var(--vu) * 1);
}

.inp {
	transition: background 0.3s;
	border: black solid calc(var(--vu) * 0.3 * var(--border-mult));
	border-radius: calc(var(--vu) * 1.5);
	background: var(--main-theme-but-col);
	display: inline-block;
	color: inherit;
	font-size: var(--font-size);
}

.inp:hover {
	background: var(--main-theme-but-hov-col)
}