/* title */
#title {
	--base-size: calc(2.25 * var(--title-size));
	font-size: calc(var(--base-size) * 1em);
	text-align: center;
	padding: calc(0.05em * var(--base-size));

	background: radial-gradient(rgba(0, 0, 0, calc(0.5 * var(--black-mod))), rgba(0, 0, 0, calc(0.3 * var(--black-mod))));
	box-shadow: 0 0 5vmax 0.5vmax rgba(0, 0, 0, calc(0.6 * var(--black-mod)));

	border: solid black calc(0.03em * var(--base-size) * var(--border-size));
	border-radius: calc(0.225em * var(--base-size));
}

/* toolbar */
#toolbar {
	display: inline-block;
	padding: 0.25em;
	margin-top: 0.2em;
	margin-inline: 0.2em;
	
	font-size: 1.1em;
	user-select: none;

	background: radial-gradient(
	  rgba(0, 0, 0, calc(0.4 * var(--black-mod))), 
	  rgba(0, 0, 0, calc(0.2 * var(--black-mod)))
	);
	box-shadow: 0 0 3vmax 0.5vmax rgba(0, 0, 0, calc(0.4 * var(--black-mod)));

	border: solid black calc(0.1em * var(--border-size));
	border-radius: calc(0.7em);
}
#toolbar * {
	display: inline-block;
	padding-inline: 0.25em;
}

/* monasabat and timings */
.header {
	font-size: 1.25em;
	font-weight: bold;
	text-decoration: underline;
	text-underline-offset: 0.15em;
	margin-top: 0.25em;
	margin-inline: 0.1em;
	margin-bottom: 0.1em;
}

#monasabat, #timings {
	margin-inline: 0.3em;
}