/* containers */
.container {
	height: 100%;
}
.container.oldShadow {
	position: absolute;
	top: var(--padding);
    right: var(--padding);
    left: var(--padding);
    bottom: var(--padding);
}

/* title */
#title {
	--base-size: calc(2.25 * var(--title-size));
	font-size: calc(var(--base-size) * 1em);
	text-align: center;
	padding: calc(0.05em * var(--base-size));

	background: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2));
	box-shadow: 0 0 5vmax 0.5vmax rgba(0, 0, 0, 0.6);

	border: solid black calc(0.03em * var(--base-size) * var(--border-size));
	border-radius: calc(0.225em * var(--base-size));
}

/* path */
#path {
	margin-inline: 1em;
	margin-block: 0.25em;
	line-height: 1.6em;
}
#path > * {
	padding-inline: 0.25em;
	font-size: 1.15em;
	text-decoration: underline;
	text-underline-offset: 0.25em;
}

/* toolbar */
#toolbar {
	display: inline-block;
	font-size: 1.1em;
	padding: 0.25em;
	margin-top: 0.25em;
	margin-inline: 0.2em;

	background: radial-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15));
	box-shadow: 0 0 3vmax 0.5vmax rgba(0, 0, 0, 0.4);

	border: solid black calc(0.1em * var(--border-size));
	border-radius: calc(0.7em);
}
#toolbar > * {
	display: inline-block;
	padding-inline: 0.25em;
}

/* list */
#list {
	padding: 0;
	margin: 0;
	margin-right: 1.5em;
	margin-top: 0.25em;
}
#list > * {
	padding-block: 0.02em;
}
.bab-item, .link-item {
	text-decoration: underline;
	text-underline-offset: 0.15em;
	margin-bottom: 0.15em;
}