/* title */
#title {
	--base-size: calc(3 * var(--title-size));
	font-size: calc(var(--base-size) * 1em);
	text-align: center;
	padding: calc(0.05em * var(--base-size));

	background: radial-gradient(rgba(0, 0, 0, calc(0.5 * var(--black-mod))), rgba(0, 0, 0, calc(0.3 * var(--black-mod))));
	box-shadow: 0 0 5vmax 0.7vmax rgba(0, 0, 0, calc(0.5 * var(--black-mod)));

	border: solid black calc(0.02em * var(--base-size) * var(--border-size));
	border-radius: calc(0.16em * var(--base-size));
}

/* section grid */
#sections-grid {
	--item-size: 2em;
	display: grid;
	user-select: none;
	grid-template-columns: repeat(auto-fill, minmax(calc(var(--item-size) * 6), 1fr));
}
#sections-grid > * {
	display: flex;
	align-items: center;
	
	height: var(--item-size);
	margin: calc(var(--item-size) * 0.1);

	font-size: calc(var(--item-size) * 0.6);
	
	--back-color-1: rgba(0, 0, 0, calc(0.3 * var(--black-mod)));
	--back-color-2: rgba(0, 0, 0, calc(0.15 * var(--black-mod)));
	background: radial-gradient(var(--back-color-1), var(--back-color-2));
	transition: --back-color-1 0.2s, --back-color-2 0.2s;

	box-shadow: 0 0 2vmax 0.2vmax rgba(0, 0, 0, calc(0.2 * var(--black-mod)));

	border-radius: calc(var(--item-size) * 0.3);
	border: solid calc(var(--item-size) * 0.05 * var(--border-size)) black;
}
#sections-grid > *:hover {
	--back-color-1: rgba(0, 0, 0, calc(0.4 * var(--black-mod)));
	--back-color-2: rgba(0, 0, 0, calc(0.25 * var(--black-mod)));
}
#sections-grid > *:active {
	--back-color-1: rgba(0, 0, 0, calc(0.5 * var(--black-mod)));
	--back-color-2: rgba(0, 0, 0, calc(0.4 * var(--black-mod)));
}
#sections-grid > * > span {
	display: inline-block;
	text-align: center;
	flex-grow: 1;
}
#sections-grid > * > svg {
	padding: calc(var(--item-size) * 0.075);
	height: calc(var(--item-size) * 0.85);
	width: calc(var(--item-size) * 0.85);
	fill: var(--font-color)
}

/* sections */
.section {
	display: none;
	height: 100%;
	width: 100%;
}
.section.current {
	display: block;
}
.section.exiting {
	display: block;
	position: absolute;
	z-index: 10;

	top: var(--padding);
	width: calc(100% - var(--padding) * 2);
    height: calc(100% - var(--padding) * 2);
}

#new-pack-avalable {
	height: 2em;
	margin-block: 0.2em;
	margin-inline: 2em;

	user-select: none;
	font-size: 1.2em;
	text-align: center;
	align-content: center;
	
	--back-color-1: rgba(0, 0, 0, calc(0.3 * var(--black-mod)));
	--back-color-2: rgba(0, 0, 0, calc(0.15 * var(--black-mod)));
	background: radial-gradient(var(--back-color-1), var(--back-color-2));
	transition: --back-color-1 0.2s, --back-color-2 0.2s;

	box-shadow: 0 0 2vmax 0.2vmax rgba(0, 0, 0, calc(0.2 * var(--black-mod)));

	border-radius: 0.6em;
	border: solid calc(0.1em * var(--border-size)) black;
}

#about-day-but {
	height: 2em;
	margin-block: 0.2em;
	margin-inline: 1em;

	user-select: none;
	font-size: 1.2em;
	text-align: center;
	align-content: center;
	
	--back-color-1: rgba(0, 0, 0, calc(0.3 * var(--black-mod)));
	--back-color-2: rgba(0, 0, 0, calc(0.15 * var(--black-mod)));
	background: radial-gradient(var(--back-color-1), var(--back-color-2));
	transition: --back-color-1 0.2s, --back-color-2 0.2s;

	box-shadow: 0 0 2vmax 0.2vmax rgba(0, 0, 0, calc(0.2 * var(--black-mod)));

	border-radius: 0.6em;
	border: solid calc(0.1em * var(--border-size)) black;
}

/* mini title */
.mini-title {
	--base-size: calc(2 * var(--title-size));
	padding: calc(0.1em * var(--base-size));
	
	font-size: calc(var(--base-size) * 1em);
	text-align: center;
	
	background: radial-gradient(rgba(0, 0, 0, calc(0.4 * var(--black-mod))), rgba(0, 0, 0, calc(0.3 * var(--black-mod))));
	box-shadow: 0 0 5vmax 0.5vmax rgba(0, 0, 0, calc(0.6 * var(--black-mod)));

	border: solid black calc(0.04em * var(--base-size) * var(--border-size));
	border-radius: calc(0.25em * var(--base-size));
}

/* gorup */
.group {
	margin-top: 1vmax;
	margin-inline: 1vmax;
	padding: 0.5em;
	
	background: radial-gradient(rgba(0, 0, 0, calc(0.3 * var(--black-mod))), rgba(0, 0, 0, calc(0.2 * var(--black-mod))));
	box-shadow: 0 0 3vmax 0.3vmax rgba(0, 0, 0, calc(0.4 * var(--black-mod)));

	border: solid black calc(0.15em * var(--border-size));
	border-radius: calc(1.2em);
}
.group-title {
	--base-size: calc(1.5 * var(--title-size));
	font-size: calc(var(--base-size) * 1em);
	text-decoration: underline;
	text-underline-offset: 0.175em;
}
.group ul {
	margin: 0;
	margin-top: 0.45em;
	padding: 0;
	padding-right: 1.5em;
}