/* title */
#title {
	--base-size: calc(2.5 * var(--title-size));
	font-size: calc(var(--base-size) * 1em);
	text-align: center;
	padding: calc(0.025em * var(--base-size));

	background: radial-gradient(rgba(0, 0, 0, calc(0.4 * var(--black-mod))), rgba(0, 0, 0, calc(0.3 * var(--black-mod))));
	box-shadow: 0 0 5vmax 0.5vmax rgba(0, 0, 0, calc(0.6 * var(--black-mod)));

	border: solid black calc(0.025em * var(--base-size) * var(--border-size));
	border-radius: calc(0.225em * var(--base-size));
}

/* section grid */
#sections-grid > * {
	--item-size: 2em;
	user-select: none;
	
	height: var(--item-size);
	margin-top: calc(var(--item-size) * 0.15);
	margin-inline: calc(var(--item-size) * 0.2);

	font-size: calc(var(--item-size) * 0.6);
	text-align: center;
	align-content: center;
	
	--back-color-1: rgba(0, 0, 0, calc(0.3 * var(--black-mod)));
	--back-color-2: rgba(0, 0, 0, calc(0.15 * var(--black-mod)));
	background: radial-gradient(var(--back-color-1), var(--back-color-2));
	transition: --back-color-1 0.2s, --back-color-2 0.2s;

	box-shadow: 0 0 3vmax 0.5vmax rgba(0, 0, 0, calc(0.25 * var(--black-mod)));

	border-radius: calc(var(--item-size) * 0.3);
	border: solid calc(var(--item-size) * 0.05 * var(--border-size)) black;
}
#sections-grid > *:hover {
	--back-color-1: rgba(0, 0, 0, calc(0.4 * var(--black-mod)));
	--back-color-2: rgba(0, 0, 0, calc(0.25 * var(--black-mod)));
}
#sections-grid > *:active {
	--back-color-1: rgba(0, 0, 0, calc(0.5 * var(--black-mod)));
	--back-color-2: rgba(0, 0, 0, calc(0.4 * var(--black-mod)));
}

/* sections */
.section {
	display: none;
	height: 100%;
	width: 100%;
}
.section.current {
	display: block;
}
.section.exiting {
	display: block;
	position: absolute;
	z-index: 10;

	top: var(--padding);
	width: calc(100% - var(--padding) * 2);
    height: calc(100% - var(--padding) * 2);
}

/* mini title */
.mini-title {
	--base-size: calc(2 * var(--title-size));
	padding: calc(0.075em * var(--base-size));
	
	font-size: calc(var(--base-size) * 1em);
	text-align: center;
	
	background: radial-gradient(rgba(0, 0, 0, calc(0.4 * var(--black-mod))), rgba(0, 0, 0, calc(0.3 * var(--black-mod))));
	box-shadow: 0 0 5vmax 0.5vmax rgba(0, 0, 0, calc(0.6 * var(--black-mod)));

	border: solid black calc(0.04em * var(--base-size) * var(--border-size));
	border-radius: calc(0.25em * var(--base-size));
}

.header {
	margin-right: 0.2em;
	font-size: 1.3em;
	font-weight: bold;
	margin-block: 0.2em;
	text-decoration: underline;
	text-underline-offset: 0.1em;
}
.unit {
	display: flex;
	align-items: center;
	user-select: none;
	margin-top: 0.05em;
	margin-inline: 0.5em;
}
.unit-name {
	font-weight: bold;
	font-size: 1.05em;
	margin-left: 0.2em;
}
.unit-slider {
	flex-grow: 1;
}
.unit-input {
	flex-grow: 1;
	margin-inline: 0.5em;
}
.unit-select {
	color: inherit;
	font-size: 0.95em;
	
	margin-right: 0.2em;
	padding-block: 0.1em;
	padding-inline: 0.4em;
	
	background: rgba(0, 0, 0, calc(0.2 * var(--black-mod)));
	border: black outset 0.12em;
	border-radius: 0.4em;
}
.unit-button {
	color: inherit;
	font-size: 1.1em;
	
	padding-block: 0.2em;
	padding-inline: 0.5em;
	margin-block: 0.2em;
	
	background: rgba(0, 0, 0, calc(0.2 * var(--black-mod)));
	border: black outset 0.12em;
	border-radius: 0.4em;

	transition: background 0.25s;
}
.unit-reset {
	color: inherit;
	font-size: 0.95em;
	
	padding-block: 0.1em;
	padding-inline: 0.4em;
	
	background: rgba(0, 0, 0, calc(0.2 * var(--black-mod)));
	border: black outset 0.12em;
	border-radius: 0.4em;

	transition: background 0.25s;
}
.unit-button:hover, .unit-reset:hover {
	background: rgba(0, 0, 0, calc(0.3 * var(--black-mod)));
}
.unit-button:active, .unit-reset:active {
	background: rgba(0, 0, 0, calc(0.4 * var(--black-mod)));
}

/* adjust font */
#adjust-font {
	display: flex;
	align-items: center;

	position: absolute;
	bottom: 5%;
	right: 0;
	left: 0;
	
	font-family: monospace;
	
	margin-inline: 20%;
	padding-inline: 1.5vmax;
	padding-block: 0.25vmax;
	
	background: radial-gradient(
	  rgba(0, 0, 0, calc(0.4 * var(--black-mod))), 
	  rgba(0, 0, 0, calc(0.2 * var(--black-mod)))
	);
	border: solid rgba(0, 0, 0, calc(0.5 * var(--black-mod))) calc(0.125em * var(--border-size));
	border-radius: calc(0.7em);
}
#adjust-font > input {
	width: 100%;
	margin-right: 0.5vmax;
}