#title {
	background: rgba(0,0,0,0.35);
	border: solid black 3px;
	border-radius: calc(var(--vd) * 1.6);
	text-align: center;
    font-size: calc(var(--font-size) * 1.8);
}

.item {
	padding: 2px
}

.cat {
	text-decoration: underline;
	padding-bottom: calc(var(--vd) * (1/3));
	padding-top: calc(var(--vd) * (1/3));
}

#back {
	font-size: calc(var(--font-size) * 1.3)
}