#content {
	font-family: quran
}

.button {
	padding: 2px;
	margin: 1px;
	border: black solid 3px
}

#markers.hide {
	display: none
}

#markers {
	overflow: auto;
	max-height: 85%;
	display: block;
	animation: shrink 1s both
}

#markers[open] {
	animation: grow 1s
}

@keyframes grow {
	from {
		max-height: 0%;
		transform: scale(0)
	}
	to {
		max-height: 85%;
		transform: scale(100%)
	}
}

@keyframes shrink {
	from {
		max-height: 85%;
		transform: scale(100%)
	}
	to {
		max-height: 0%;
		transform: scale(0)
	}
}